{% extends 'portfolio/base.html' %}
{% load humanize %}
{% load mathfilters %}

<html>
   <head>
      <meta charset="UTF-8">
      <title>Eagle Financial</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   </head>
   {% block content %}
  <body>
   <div class="row">
         <h1 style="padding-left: 15Px">Customer Portfolio</h1>
      </div>
      <div class="row">
         <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Portfolio Initial Investments <br>(INR)</th>
                  <th>Portfolio Current Investments <br>(INR)</th>
                  <th>Grand Total Results <br>(INR)</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ sum_of_initial_stock_value|add:sum_acquired_value|intcomma }}</td>
                  <td>{{ sum_current_stocks_value|add:sum_recent_value|intcomma }}</td>
                  <td>{{ overall_investment_results|add:results |intcomma }}
               </tr>
            </tbody>
         </table>
      </div>

      <div class="row">
         <h2 style="padding-left: 15Px">Stocks Information</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Customer</th>
                  <th>Symbol</th>
                  <th>Name</th>
                  <th>Shares</th>
                  <th>Initial Stock Price <br>(INR)</th>
                  <th>Initial Stock Value <br>(INR)</th>
                  <th>Current Stock Price <br>(INR)</th>
                  <th>Current Stock Value <br>(INR)</th>
                  <th>Results<br>(INR)</th>
               </tr>
            </thead>
            <tbody>
               {% for stock in stocks %}
               <tr>
                  <td>{{ stock.customer }}</td>
                  <td>{{ stock.symbol }}</td>
                  <td>{{ stock.name }}</td>
                  <td>{{ stock.shares|intcomma }}</td>
                  <td>{{ stock.purchase_priceINR|intcomma }}</td>
                  <td>{{ stock.initial_stock_valueINR|intcomma}}</td>
                  <td>{{ stock.current_stock_priceINR|intcomma}}</td>
                  <td>{{ stock.current_stock_valueINR|intcomma}}</td>
                  <td>{{ stock.current_stock_valueINR|sub:stock.initial_stock_valueINR |intcomma}}
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Total of Initial Stocks <br>(INR)</th>
                  <th>Total of Current Stocks <br>(INR)</th>
                  <th>Results <br>(INR)</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ sum_of_initial_stock_value|intcomma }}</td>
                  <td>{{ sum_current_stocks_value|intcomma }}</td>
                  <td>{{ sum_current_stocks_value|sub:sum_of_initial_stock_value |intcomma }}
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row">
         <h2 style="padding-left: 15Px">Investment Information</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Customer</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Acquired Value <br>(INR)</th>
                  <th>Acquired Date</th>
                  <th>Recent Value <br>(INR)</th>
                  <th>Recent Date</th>
                  <th>Results <br>(INR)</th>
               </tr>
            </thead>
            <tbody>
               {% for investment in investments %}
               <tr>
                  <td>{{ investment.customer }}</td>
                  <td>{{ investment.category }}</td>
                  <td>{{ investment.description }}</td>
                  <td>{{ investment.acquired_valueINR|intcomma }}</td>
                  <td>{{ investment.acquired_date}}</td>
                  <td>{{ investment.recent_valueINR|intcomma}}</td>
                  <td>{{ investment.recent_date}}</td>
                  <td>{{ investment.recent_valueINR|sub:investment.acquired_valueINR |intcomma}}
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Total of Initial Investments <br>(INR)</th>
                  <th>Total of Current Investments <br>(INR)</th>
                  <th>Results <br>(INR)</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ sum_acquired_value|intcomma}}</td>
                  <td>{{ sum_recent_value|intcomma }}</td>
                  <td>{{ overall_investment_results|intcomma }}
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>
{% endblock %}