{% load static %}
{% load humanize %}
{% load mathfilters %}

<html lang="en">
<style>

a {
  color: #5D6975;
  text-decoration: underline;
}
header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
  background-color: #29293d;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background-image: url("../../static/css/dimension.png");
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: left;
  width: 100px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1em;
}

#company {
  float: right;
  text-align: right;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
</style>
  <head>
    <meta charset="utf-8">
    <title>Portfolio Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <header class="row">
      <div id="logo">
        <img src="{% static 'images/Logo.png' %}">
      </div>
      <h1>Portfolio Summary</h1>
      <div id="company" class="clearfix">
        <div>Eagle Financial Services</div>
        <div>455 Foggy Heights,<br /> AZ 85004, US</div>
        <div>(602) 519-0450</div>
      </div>
      <div id="project">
        <div><span>CLIENT</span>{{ customer.name }}</div>
        <div><span>CLIENT ID</span>{{ customer.cust_number }}</div>
      </div>
    </header>
    <main>
      <div class="row">
         <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Portfolio Initial Investments</th>
                  <th>Portfolio Current Investments</th>
                  <th>Grand Total Results</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ sum_of_initial_stock_value|add:acquired_total|intcomma }}</td>
                  <td>{{ sum_current_stocks_value|add:recent_total|intcomma }}</td>
                  <td>{{ overall_investment_results|add:results |intcomma }}
               </tr>
            </tbody>
         </table>
      </div>

      <div class="row">
         <h2 style="padding-left: 15Px">Stocks Information</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Customer</th>
                  <th>Symbol</th>
                  <th>Name</th>
                  <th>Shares</th>
                  <th>Initial Stock Price</th>
                  <th>Initial Stock Value</th>
                  <th>Current Stock Price</th>
                  <th>Current Stock Value</th>
                  <th>Results</th>
               </tr>
            </thead>
            <tbody>
               {% for stock in stocks %}
               <tr>
                  <td>{{ stock.customer }}</td>
                  <td>{{ stock.symbol }}</td>
                  <td>{{ stock.name }}</td>
                  <td>{{ stock.shares|intcomma }}</td>
                  <td>{{ stock.purchase_price|intcomma }}</td>
                  <td>{{ stock.initial_stock_value|intcomma}}</td>
                  <td>{{ stock.current_stock_price|intcomma}}</td>
                  <td>{{ stock.current_stock_value|intcomma}}</td>
                  <td>{{ stock.current_stock_value|sub:stock.initial_stock_value |intcomma}}
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Total of Initial Stocks</th>
                  <th>Total of Current Stocks</th>
                  <th>Results</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ sum_of_initial_stock_value|intcomma }}</td>
                  <td>{{ sum_current_stocks_value }}</td>
                  <td>{{ sum_current_stocks_value|sub:sum_of_initial_stock_value |intcomma }}
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row">
         <h2 style="padding-left: 15Px">Investment Information</h2>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Category</th>
                  <th>Description</th>
                  <th>Acquired Value</th>
                  <th>Acquired Date</th>
                  <th>Recent Value</th>
                  <th>Recent Date</th>
                  <th>Results</th>
               </tr>
            </thead>
            <tbody>
               {% for investment in investments %}
               <tr>
                  <td>{{ investment.category }}</td>
                  <td>{{ investment.description }}</td>
                  <td>{{ investment.acquired_value|intcomma }}</td>
                  <td>{{ investment.acquired_date}}</td>
                  <td>{{ investment.recent_value|intcomma}}</td>
                  <td>{{ investment.recent_date}}</td>
                  <td>{{ investment.recent_value|sub:investment.acquired_value |intcomma}}
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="row">
         <table class="table table-striped table-bordered">
            <thead>
               <tr bgcolor="#a9a9a9">
                  <th>Total of Initial Investments</th>
                  <th>Total of Current Investments</th>
                  <th>Results</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ acquired_total|intcomma}}</td>
                  <td>{{ recent_total|intcomma }}</td>
                  <td>{{ overall_investment_results|intcomma }}
               </tr>
            </tbody>
         </table>
      </div>
    </main>
    <footer>
      This portfolio summary was created on a computer and is valid without the signature and seal.
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>